@mixin buttonStyle {
    text-transform: uppercase;
    color: #2c4058;
    border: 1px solid #2c4058;
    @include GothamBook;
    background-color: #fff;
    font-size: 14px;
}

@mixin buttonHover {
    transform: scale(1.1);
    background-color: #2c4058;
    color: #fff;
}

@mixin GothamBook {
    font-family: 'Gotham', sans-serif;
    font-weight: normal;
}

@mixin GothamMedium {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
}

@mixin GothamBold {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    width: 100%;
    height: 100%;
}

* {
    transition: all 0.3s;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

.container {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials__icon{
    color: #fff;
    font-size: 14px;
}

.header {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1170px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__nav {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // burger start
        .toggle_input {
            visibility: hidden;
            position: absolute;

            &:checked ~ .toggle_label  {
                &:after {
                    top: 0;
                    transform: rotate(-45deg);
                    background: #fff;
                    transition: 0.4s;
                }
                &:before {
                    top: 0;
                    transform: rotate(45deg);
                    background: #fff;
                    transition: 0.4s;
    
                }
                > span {
                    visibility: hidden;               
                }
            }

            &:checked ~ .nav_list {
                display: block;
                visibility: visible;
                right: -100px;
                top: 70px;
                transition: 0.5s;
            }
    
            &:checked ~ .nav_list > .nav_list__item {
                margin-right: 50px;
                transition: 0.5s;
            }
        }

        .toggle_label {
            display: none;

            &:hover {
                transform: scale(1.1);
            }
    
    
            span {
                position: absolute;
                top: 0px;

                display: block;
                width: 42px;
                height: 2px;

                background-color: #fff;

                transform-origin: 4px 0px;  
            }
    
            &::before, 
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 42px;
                height: 2px;
                background-color: #fff;
                top: -10px;

                transform-origin: 50% 50%;
            }
    
            &::after {
                top: 10px;
                transform-origin: 50% 50%;
            }
        }

        .toggle_input {
            display: none;
        }
            // end burger
        
        .nav_list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__item{
                list-style: none;
                margin-left: 70px;
                padding-left: 30px;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;

                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    

                    width: 10px;
                    height: 10px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }

                &_link{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    @include GothamBook;
                    font-size: 14px;
                }

                &:hover{
                    transform: scale(1.05);

                    &::before {
                        background-color: #fff;
                    }             
                    
                    .nav_list__item_link{
                        color: #2c4058;
                    }
                }
            }
        }
    }

    &__socials{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &_item {
            margin-left: 20px;
            width: 40px;
            height: 40px;

            border: 1px solid #fff;
            border-radius: 50%;
            text-align: center;
            
            @include center;

            &:hover{
                transform: scale(1.1);
                border-color: #2c4058;

                .socials__icon{
                    color: #2c4058;
                }
            }
        }
    }
}

.banner{
    background-image: linear-gradient(90deg, rgba(136,200,250,0.4) 0%, rgba(82,33,255,0.5) 100%), url(../../img/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background: linear-gradient(90deg, rgba(136,200,250,0.4) 0%, rgba(82,33,255,0.5) 100%);

    height: 100%;
    width: 100%;

        // &::before{
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     height: inherit;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: -1;
        //     background: linear-gradient(90deg, rgba(136,200,250,1) 0%, rgba(82,33,255,0.5) 100%);
        // }

    &__content{
        width: 100%;
        text-align: center;
    }

    &__slider{
        margin-top: 370px;
        position: relative;

        .slick-dots{
            margin-left: 110%;
            width: 0;
            display: flex;
            flex-direction: column;

            li{
                border: 1px solid #fff;
                border-radius: 50%; // радиус закругления
                height: 10px; // высота точки
                width: 10px; // ширина точки
                margin-top: 40px; // отступы между точками
                outline: none; // убираем обводку
            }

            .slick-active{
                background: #fff;
            }
            
        }

        .slider__item{
            color: #fff;
            text-transform: uppercase;

            &_header{
                @include GothamBold;
                font-size: 80px;
                
            }

            &_text{
                @include GothamBook;
                font-size: 18px;
                letter-spacing: 3px;
            }
        }
    }

    &__scroll{
        margin-top: 230px;
        margin-bottom: 50px;
        width: 100%;
        @include center;

        &_link{
            width: 40px;
            height: 40px;
    
            border: 1px solid #fff;
            border-radius: 50%;
    
            @include center;
            text-decoration: none;

            &:hover {
                border-color: #2c4058;
                transform: scale(1.2);

                .banner__scroll_icon {
                    color: #2c4058;
                }
            }
        }

        &_icon{
            color: #fff;
        }

        
    }
}

.gallery {
    
    width: 100%;
    height: 100%;

    &__header{
        width: 215px;
        margin-top: 180px;
        margin-bottom: 100px;

        .header__heading{
            @include GothamMedium;
            text-transform: uppercase;
            font-size: 44px;
            line-height: 44px;
            position: relative;
            color: #2c4058;
            

            &::before{
                content: '';
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 2px;
                background-color: #2c4058;
            }
        }
    }

    &__image{
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0px 10px;

        &_big {
            position: relative;

            .gallery__item{
                width: 100%;
                height: 100%;

                &:hover{
                    transform: scale(1.01);
                }

                // &_icon{
                //     position: absolute;
                //     top: 50%;
                //     left: 50%;
                //     transform: translate(-50%, -50%);
                // }
            } 
            // &::before{
            //     content: '';
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //     background: url(../../img/360.svg);
            //     width: 80px;
            //     height: 80px;
            //     fill: #fff;
            // }   
        }

        &_small{
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 10px 10px;

            .gallery__item {

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }

    &__button{
        margin-bottom: 140px;
        
        &_item{
            @include buttonStyle;
            padding: 20px 60px;

            &:hover {
                @include buttonHover;
            }
        }
    }
}

.contact {
    width: 100%;
    background-color: #ccc;
    position: relative;

    #map{
        width: 100%;
        height: 90vh;
    }

    &__content{
        position: absolute;
        top: 60%;
        @include center;
        flex-direction: column;
        background-color: #fff;
        padding: 90px 60px 50px;

        // ::before{
        //     content: url(../../img/form_mask.png);
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        // }

        .content__header{
            @include GothamMedium;
            text-transform: uppercase;
            font-size: 44px;
            line-height: 44px;
            position: relative;
            color: #2c4058;
            
            margin-bottom: 60px;
    
            &::before{
                content: '';
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100px;
                height: 1px;
                background-color: #2c4058;
            }
        }

        .contact__form{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include GothamBook;

            &_contacts {
                margin-right: 50px;

                .contacts__item{
                    margin-bottom: 40px;
                    
                    &_icon{
                        color: #7e5aff;
                        margin-right: 10px;
                    }

                    &_link{
                        text-decoration: none;
                        color: #2c4058;
                    }

                    &_text{
                        color: #2c4058;
                    }

                }
            }

            .form__wrapper{
                padding-top: 5px;

                .form__body{
                    display: flex;
                    flex-direction: column;
    
                    &_item{
                        width: 310px;
                        margin-bottom: 30px;
    
                        border: none;
                        border-bottom: 1px solid #d5d9de;
                        padding-bottom: 20px;
                        outline: none;
                        cursor: pointer;
    
                        color: #a5aab0;
    
                        ::placeholder{
                            font-size: 18px;
                        }

                        &:focus{
                            border-bottom: 1px solid #2c4058;
                            color: #2c4058;
                        }

                        &:hover{
                            border-bottom: 1px solid #2c4058;
                            transform: scale(1.05);
                        }
                    }
                }
    
                .form__button{
                    @include buttonStyle;
                    padding: 20px 0;
                    margin-top: 10px;
                    margin-left: 170px;
                    width: 140px;

                    &:hover{
                        @include buttonHover;
                    }
                }
            }
        }
    }


}

.footer{
    // background: linear-gradient(90deg, rgba(136,200,250,0.4) 0%, rgba(82,33,255,0.5) 100%);
    background-image: linear-gradient(90deg, rgba(136,200,250,0.4) 0%, rgba(82,33,255,0.5) 100%), url(../../img/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content{
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 260px;
        margin-bottom: 45px;
    }

    &__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &_item {
            margin-left: 20px;
            width: 40px;
            height: 40px;

            border: 1px solid #fff;
            border-radius: 50%;
            text-align: center;
            
            @include center;

            &:hover{
                transform: scale(1.1);
                border-color: #2c4058;

                .socials__icon{
                    color: #2c4058;
                }
            }

        }
        &_link {
            height: 0;
            width: 0;
        }
        
    }

    &__copyright{
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include GothamBook;
        font-size: 14px;
        line-height: 22px;
        color: #fff;

        padding-bottom: 180px;

        &_text{
            border-right: 1px solid #fff;
            padding-right: 20px;
        }

        &_author{
            padding-left: 20px;
        }
    }
}

// @media (max-width: 1024px){
//     .header {

//         &__nav{

//             padding-top: 30px;
//             padding-bottom: 35px;
//             position: relative;  

//                 .toggle_input {
//                     visibility: hidden;
//                     position: absolute;
        
//                     &:checked ~ .toggle_label  {

//                         &:after {
//                             top: 0;
//                             transform: rotate(-45deg);
//                             background: #fff;
//                             transition: 0.4s;
//                         }

//                         &:before {
//                             top: 0;
//                             transform: rotate(45deg);
//                             background: #fff;
//                             transition: 0.4s;
                
//                         }

//                         > span {
//                             visibility: hidden;               
//                         }
//                     }
        
//                     &:checked ~ .main_nav {
//                         display: block;
//                         visibility: visible;
//                         right: -100px;
//                         top: 70px;
//                         transition: 0.5s;
//                     }
                
//                     &:checked ~ .main_nav > .main_nav__item {
//                         margin-right: 50px;
//                         transition: 0.5s;
//                     }
//                 }
        
//                 .toggle_label {
//                     position: absolute;
//                     display: flex;
//                     align-items: center;
                        
//                     top: 50%;
//                     right: 0;
//                     width: 20px;
//                     height: 20px;
//                     cursor: pointer;
//                     z-index: 1;
        
//                     &:hover {
//                         transform: scale(1.1);
//                     }
                    
                    
//                     span {
//                         position: absolute;
//                         top: 0px;
        
//                         display: block;
//                         width: 42px;
//                         height: 2px;
        
//                         background-color: #fff;

//                         transform-origin: 4px 0px;  
//                     }
                
//                     &::before, 
//                     &::after {
//                         content: '';
//                         display: block;
//                         position: absolute;
//                         width: 42px;
//                         height: 2px;
//                         background-color: #fff;
//                         top: -10px;
        
//                         transform-origin: 50% 50%;
//                     }
                    
//                     &::after {
//                         top: 10px;
//                         transform-origin: 50% 50%;
//                     }  
//                 }
        
//                 .main_nav {
//                     display: none;
//                     position: absolute;
//                     visibility: hidden;
//                     top: 70px;
//                     // right: -100vw;
//                     width: 100vw;
//                     height: 100vh;
//                     background-color: rgba(57, 57, 57, .9);
//                     list-style: none;
//                     text-align: right;
        
//                     padding: 50px 50px;

//                     transition: 0.5s;

//                     &__item {
//                         display: block;
//                         margin-bottom: 30px;
//                     }
                        
//                     &__link {
//                         color: #fff;
//                         font-size: 24px;
//                         font-family: 'Aleo', serif;
//                         text-transform: uppercase;
//                         text-decoration: none;
                            
//                     &:hover {
//                         color: #4a5eb2;
//                         text-decoration: none;
//                     }
//                     &:active {                           
//                         color: #3b3e3f;
//                     }
//                 }
//             } 
//         }   
//     }
// }